<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title><%= page_title %></title>
    <%= yield :html_head %>
    <%= stylesheet_link_tag "/themes/finalist/stylesheets/screen" %>
  </head>
  <body id="page">
    <%= cms_toolbar %>

    <div id="container">
      <%= render :partial => "partials/header"%>

      <div id="content">
        <div id="above">
          <div id="nav"><%= render_breadcrumbs %></div>
          <div class="block" id="title"><h2><%= @page.page_title %></h2></div>
        </div>

        <div id="below">
          <div id="main" class="block"><%= container :main %></div>
          <div id="sidebar" class="block">
            <h2>Gerelateerd</h2>
            <%= render_menu :from_top => 1, :depth => 2 %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

